<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copyGRN-BRI 2025.
              </p>
            

		   <p>  </p><p>
            		  
            
		</div>
		 
		<div class="col-sm-8">
		  Contact: <a href="tsky@swjtu.edu.cn"> tsky@swjtu.edu.cn </a><br>
		  Address:  8 Jiaoda Road, Tangshan, Hebei Province, China.
		  		             
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
